.playbutton
{
  width:100px;
  height:100px;
  background-color: white
}

.statusButton
{
  width:50px;
  height: 20px;
}

.chkBox
{

}

.player1selected
{
    /*background-color: green;*/
    background-image: url('x-view.svg');
    background-size: cover;
}

.player2selected
{
  /*  background-color: red;*/
    background-image: url('o-view.svg');
    background-size: cover;
}

.result
{

}

body
{
  font-family: "Segoe UI light";
}

#result_winnerMailAddress
{
    width: 305px;
    border-style:solid;
    border: 5 5 5 5;
    border-color: green;
    position: fixed;
    left:5px;
    top:400px;
    background-color: white;
}

#orgnaization
{
  position: fixed;
  top:90px;
  left:400px;
}

input[type='checkbox']
{
  float:left;
}

.list
{
  margin-bottom: 10px;
}

label
{
  float:none;
}

:invalid
{
  border-color: red;
  border: 5 5 5 5;
  border-style: solid;
}
